<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="30" android:compileSdkVersionCodename="11" package="com.philips.ka.oneka.app" platformBuildVersionCode="30" platformBuildVersionName="11">
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="com.philips.ka.oneka.app.permission.JPUSH_MESSAGE"/>
    <permission android:name="com.philips.ka.oneka.app.permission.JPUSH_MESSAGE" android:protectionLevel="signature"/>
    <uses-feature android:glEsVersion="0x00020000" android:required="true"/>
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="https"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <category android:name="android.intent.category.BROWSABLE"/>
            <data android:scheme="https"/>
        </intent>
    </queries>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE"/>
    <uses-permission android:name="com.tencent.mm.plugin.permission.SEND"/>
    <uses-permission android:name="com.tencent.mm.plugin.permission.RECEIVE"/>
    <uses-permission android:name="com.tencent.mm.plugin.permission.READ"/>
    <uses-permission android:name="com.tencent.mm.plugin.permission.WRITE"/>
    <uses-permission android:name="com.tencent.mm.permission.MM_MESSAGE"/>
    <instrumentation android:label="androidTest" android:name="android.test.InstrumentationTestRunner" android:targetPackage="com.janrain.android"/>
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"/>
    <application android:allowBackup="false" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:extractNativeLibs="false" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:largeHeap="true" android:name="com.philips.ka.oneka.app.PhilipsApplication" android:networkSecurityConfig="@xml/network_security_config" android:requestLegacyExternalStorage="false" android:resizeableActivity="false" android:supportsRtl="true" android:theme="@style/Theme.Nutriu" android:usesCleartextTraffic="false">
        <activity android:launchMode="singleTop" android:name="com.philips.ka.oneka.app.ui.splash.SplashActivity" android:screenOrientation="locked" android:theme="@style/Theme.Nutriu.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <data android:scheme="nutriu://"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="philipskitchen.app.link" android:scheme="https"/>
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="bnc.lt" android:path="/a/key_live_beRlo9y1fgsBrRn9oBKTBfnisunNw5Ne" android:scheme="https"/>
            </intent-filter>
        </activity>
        <activity android:exported="false" android:name="com.philips.ka.oneka.app.ui.analytics.logger.AnalyticsLoggerActivity" android:screenOrientation="behind"/>
        <activity android:exported="false" android:name="com.philips.ka.oneka.app.ui.main.MainActivity" android:screenOrientation="behind" android:theme="@style/Theme.Nutriu" android:windowSoftInputMode="adjustNothing"/>
        <activity android:exported="false" android:name="com.philips.ka.oneka.app.ui.recipe.create.CreateRecipeActivity" android:screenOrientation="behind" android:theme="@style/Theme.Nutriu.DarkStatusBar.StatusBackgroundPrimary"/>
        <activity android:exported="false" android:name="com.philips.ka.oneka.app.ui.collections.create.CreateNewCollectionActivity" android:screenOrientation="behind" android:theme="@style/Theme.Nutriu.DarkStatusBar.StatusBackgroundPrimary"/>
        <activity android:exported="false" android:name="com.philips.ka.oneka.app.ui.step.CreateStepActivity" android:screenOrientation="behind" android:theme="@style/Theme.Nutriu.DarkStatusBar.StatusBackgroundPrimary"/>
        <activity android:exported="false" android:name="com.philips.ka.oneka.app.ui.coco_entry.CocoEntryActivity" android:screenOrientation="behind" android:theme="@style/UidDLSTheme"/>
        <activity android:exported="false" android:name="com.philips.ka.oneka.app.ui.iap.IAPActivity" android:screenOrientation="behind" android:theme="@style/UidDLSTheme"/>
        <activity android:configChanges="orientation|screenSize" android:exported="false" android:name="com.philips.ka.oneka.app.ui.onboarding.OnBoardingActivity" android:screenOrientation="behind" android:theme="@style/Theme.Nutriu.Onboarding"/>
        <activity android:exported="false" android:name="com.philips.ka.oneka.app.ui.recipe.ingredient.CreateIngredientActivity" android:screenOrientation="behind" android:theme="@style/Theme.Nutriu.DarkStatusBar.StatusBackgroundPrimary"/>
        <activity android:exported="false" android:name="com.philips.ka.oneka.app.ui.recipe.ingredient.SearchIngredientActivity" android:screenOrientation="behind" android:theme="@style/Theme.Nutriu.DarkStatusBar.StatusBackgroundPrimary" android:windowSoftInputMode="adjustResize"/>
        <activity android:exported="false" android:name="com.philips.ka.oneka.app.ui.update.UpdateActivity" android:screenOrientation="behind"/>
        <activity android:exported="false" android:name="com.philips.ka.oneka.app.ui.shared.webview.WebBrowserActivity" android:screenOrientation="behind" android:theme="@style/Theme.Nutriu.DarkStatusBar.StatusBackgroundPrimary"/>
        <activity android:exported="false" android:name="com.philips.ka.oneka.app.ui.about.AboutActivity" android:screenOrientation="behind" android:theme="@style/Theme.Nutriu.DarkStatusBar.StatusBackgroundPrimary"/>
        <activity android:exported="false" android:name="com.philips.ka.oneka.app.ui.shared.photo_view.PhilipsCropImageActivity" android:screenOrientation="behind" android:theme="@style/CropImageTheme"/>
        <activity android:exported="false" android:name="com.philips.ka.oneka.app.ui.recipe.details.VideoFullScreenActivity" android:screenOrientation="landscape"/>
        <activity android:exported="false" android:name="com.philips.ka.oneka.app.ui.wifi.ews.EwsActivity" android:screenOrientation="behind" android:windowSoftInputMode="adjustResize"/>
        <activity android:exported="false" android:name="com.philips.ka.oneka.app.ui.wifi.cooking.WifiCookingActivity" android:screenOrientation="behind" android:windowSoftInputMode="adjustResize"/>
        <provider android:authorities="com.philips.ka.oneka.app.provider" android:exported="false" android:grantUriPermissions="true" android:name="androidx.core.content.FileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/provider_paths"/>
        </provider>
        <activity android:exported="false" android:name="com.philips.ka.oneka.app.ui.report.ReportActivity" android:screenOrientation="behind" android:theme="@style/Theme.Nutriu.DarkStatusBar.StatusBackgroundPrimary"/>
        <activity android:exported="false" android:name="com.philips.ka.oneka.app.ui.wifi.remote_consent.RemoteConsentActivity" android:screenOrientation="behind"/>
        <activity android:exported="false" android:name="com.philips.ka.oneka.app.ui.user_manual.UserManualActivity" android:screenOrientation="behind"/>
        <activity android:launchMode="singleTop" android:name="com.philips.ka.oneka.app.ui.wifi.HsdpDeepLinkActivity" android:screenOrientation="behind">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="oauthredirect"/>
                <data android:scheme="com.philips.apps.nutriu.21e431131cb04a0eb56"/>
            </intent-filter>
        </activity>
        <activity android:exported="true" android:launchMode="singleTop" android:name="com.philips.ka.oneka.app.ui.amazon.AmazonActivity" android:screenOrientation="behind" android:theme="@style/Theme.Nutriu.DarkStatusBar.StatusBackgroundPrimary">
            <intent-filter>
                <data android:host="lwa-flow.callback" android:scheme="nutriu"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <activity android:name="com.philips.platform.pim.UDIRedirectReceiverActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="com.philips.apps.44d541ae-71f0-4007-9109-92670e188e36"/>
                <data android:scheme="com.philips.apps.ebfdd4e6-2cfe-40a2-99e8-ea7fd581c80a"/>
                <data android:scheme="com.philips.apps.eb73ac55-284d-44cb-b24f-4e9189ecd26b"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme=""/>
            </intent-filter>
        </activity>
        <activity android:name="net.openid.appauth.RedirectUriReceiverActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="null"/>
            </intent-filter>
        </activity>
        <activity android:exported="false" android:name="com.philips.ka.oneka.app.ui.privacy.PrivacyAcknowledgementActivity" android:screenOrientation="behind"/>
        <activity android:exported="false" android:name="com.philips.ka.oneka.app.ui.privacy.oneda.OneDaPrivacyActivity" android:screenOrientation="behind"/>
        <activity android:exported="false" android:name="com.philips.ka.oneka.app.ui.blocked.UserBlockedActivity" android:screenOrientation="behind"/>
        <activity android:exported="false" android:name="com.philips.ka.oneka.app.ui.serviceunavailable.ServiceUnavailableActivity" android:screenOrientation="behind"/>
        <activity android:exported="false" android:name="com.philips.ka.oneka.app.ui.search.filters.FilterActivity" android:screenOrientation="behind" android:theme="@style/Theme.Nutriu.DarkStatusBar.StatusBackgroundPrimary"/>
        <service android:name="com.philips.ka.oneka.app.shared.notifications.PhilipsFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <meta-data android:name="com.google.firebase.messaging.default_notification_icon" android:resource="@drawable/ic_status_bar"/>
        <meta-data android:name="com.google.firebase.messaging.default_notification_color" android:resource="@color/green_45"/>
        <meta-data android:name="com.google.firebase.messaging.default_notification_channel_id" android:value="@string/announcements_channel_id"/>
        <meta-data android:name="firebase_messaging_auto_init_enabled" android:value="false"/>
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <meta-data android:name="io.branch.sdk.BranchKey" android:value="key_live_beRlo9y1fgsBrRn9oBKTBfnisunNw5Ne"/>
        <meta-data android:name="io.branch.sdk.BranchKey.test" android:value="key_live_beRlo9y1fgsBrRn9oBKTBfnisunNw5Ne"/>
        <meta-data android:name="io.branch.sdk.TestMode" android:value="false"/>
        <receiver android:name="com.philips.ka.oneka.app.shared.ShareRecipeReceiver"/>
        <receiver android:name="com.philips.ka.oneka.app.shared.ShareArticleReceiver"/>
        <activity android:exported="true" android:name="com.philips.ka.oneka.app.wxapi.WXEntryActivity" android:screenOrientation="behind"/>
        <provider android:authorities="com.philips.ka.oneka.app.androidx-startup" android:exported="false" android:initOrder="200" android:name="androidx.startup.InitializationProvider">
            <meta-data android:name="com.philips.ka.oneka.app.shared.initializers.ExceptionHandlerInitializer" android:value="androidx.startup"/>
            <meta-data android:name="com.philips.ka.oneka.app.shared.initializers.SentinelInitializer" android:value="androidx.startup"/>
        </provider>
        <activity android:configChanges="keyboardHidden|orientation" android:exported="false" android:name="cn.jpush.android.ui.PushActivity" android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="com.philips.ka.oneka.app"/>
            </intent-filter>
        </activity>
        <activity android:exported="true" android:name="cn.jpush.android.service.JNotifyActivity" android:taskAffinity="jpush.custom" android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.JNotifyActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="com.philips.ka.oneka.app"/>
            </intent-filter>
        </activity>
        <service android:enabled="true" android:exported="false" android:name="cn.jpush.android.service.PushService" android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER"/>
                <action android:name="cn.jpush.android.intent.REPORT"/>
                <action android:name="cn.jpush.android.intent.PushService"/>
                <action android:name="cn.jpush.android.intent.PUSH_TIME"/>
            </intent-filter>
        </service>
        <receiver android:enabled="true" android:exported="true" android:name="cn.jpush.android.service.PushReceiver">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY"/>
                <category android:name="com.philips.ka.oneka.app"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver android:enabled="true" android:name="com.philips.ka.oneka.app.shared.jpush.PushMessageReceiver">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE"/>
                <category android:name="com.philips.ka.oneka.app"/>
            </intent-filter>
        </receiver>
        <receiver android:enabled="true" android:name="com.philips.ka.oneka.app.shared.jpush.JPushCustomReceiver">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION"/>
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED"/>
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED"/>
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED"/>
                <action android:name="cn.jpush.android.intent.CONNECTION"/>
                <category android:name="com.philips.ka.oneka.app"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="false" android:name="cn.jpush.android.service.AlarmReceiver"/>
        <provider android:authorities="com.philips.ka.oneka.app.DownloadProvider" android:exported="true" android:name="cn.jpush.android.service.DownloadProvider"/>
        <meta-data android:name="JPUSH_CHANNEL" android:value="developer-default"/>
        <meta-data android:name="JPUSH_APPKEY" android:value="3ea61dfae710709d71d3fe1d"/>
        <service android:directBootAware="true" android:exported="false" android:name="com.google.firebase.components.ComponentDiscoveryService">
            <meta-data android:name="com.google.firebase.components:com.google.firebase.inappmessaging.display.FirebaseInAppMessagingDisplayRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.perf.FirebasePerfRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.inappmessaging.FirebaseInAppMessagingRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.crashlytics.CrashlyticsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.remoteconfig.RemoteConfigRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.datatransport.TransportRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.iid.Registrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.abt.component.AbtRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.dynamicloading.DynamicLoadingRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <provider android:authorities="com.philips.ka.oneka.app.ApptentiveAttachmentFileProvider" android:enabled="true" android:exported="false" android:grantUriPermissions="true" android:name="com.apptentive.android.sdk.debug.ApptentiveAttachmentFileProvider"/>
        <activity android:name="com.apptentive.android.sdk.ApptentiveViewActivity" android:theme="@style/ApptentiveTheme.Base.Versioned"/>
        <receiver android:enabled="true" android:exported="false" android:name="com.apptentive.android.sdk.debug.LogBroadcastReceiver"/>
        <receiver android:exported="false" android:name="com.apptentive.android.sdk.module.engagement.notification.ApptentiveNotificationInteractionBroadcastReceiver"/>
        <provider android:authorities="com.philips.ka.oneka.app.firebaseperfprovider" android:exported="false" android:initOrder="101" android:name="com.google.firebase.perf.provider.FirebasePerfProvider"/>
        <activity android:exported="false" android:launchMode="singleTask" android:name="net.openid.appauth.AuthorizationManagementActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <provider android:authorities="com.philips.ka.oneka.app.com.squareup.picasso" android:exported="false" android:name="com.squareup.picasso.PicassoProvider"/>
        <receiver android:exported="true" android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </receiver>
        <service android:directBootAware="true" android:exported="false" android:name="com.google.firebase.messaging.FirebaseMessagingService">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <activity android:exported="true" android:name="cn.jpush.android.ui.PopWinActivity" android:theme="@style/MyDialogStyle">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="cn.jpush.android.ui.PopWinActivity"/>
                <category android:name="com.philips.ka.oneka.app"/>
            </intent-filter>
        </activity>
        <service android:enabled="true" android:exported="true" android:name="cn.jpush.android.service.DaemonService">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService"/>
                <category android:name="com.philips.ka.oneka.app"/>
            </intent-filter>
        </service>
        <activity android:enabled="true" android:exported="true" android:name="cn.jpush.android.service.DActivity" android:taskAffinity="jpush.custom" android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DActivity"/>
                <category android:name="com.philips.ka.oneka.app"/>
            </intent-filter>
        </activity>
        <receiver android:exported="false" android:name="cn.jpush.android.service.SchedulerReceiver"/>
        <provider android:authorities="com.philips.ka.oneka.app.DataProvider" android:exported="false" android:name="cn.jpush.android.service.DataProvider" android:process=":pushcore"/>
        <receiver android:name="cn.jpush.android.asus.AsusPushMessageReceiver"/>
        <meta-data android:name="com.huawei.hms.client.service.name:ads-identifier" android:value="ads-identifier:3.4.31.300"/>
        <activity android:configChanges="orientation|screenSize" android:exported="false" android:name="com.philips.cdp.registration.ui.traditional.RegistrationActivity"/>
        <activity android:configChanges="orientation|screenSize" android:name="com.janrain.android.engage.ui.JRFragmentHostActivity$Fullscreen" android:theme="@style/Theme.Janrain.Light" android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:name="com.philips.platform.pim.GuestUserActivity"/>
        <activity android:configChanges="orientation|screenLayout|screenSize|smallestScreenSize" android:name="com.philips.platform.pim.PIMActivity"/>
        <activity android:label="Products" android:name="com.philips.platform.mec.common.MECLauncherActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="layoutDirection|locale|orientation|screenSize" android:exported="false" android:name="com.philips.cdp.productselection.activity.ProductSelectionActivity">
            <intent-filter>
                <action android:name="android.intent.action.SUPPORT_PRODUCTSELECTION"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <uses-library android:name="android.test.runner"/>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery">
            <meta-data android:name="backend:com.google.android.datatransport.cct.CctBackendFactory" android:value="cct"/>
        </service>
        <provider android:authorities="com.philips.ka.oneka.app.firebaseinitprovider" android:directBootAware="true" android:exported="false" android:initOrder="100" android:name="com.google.firebase.provider.FirebaseInitProvider"/>
        <activity android:exported="false" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <receiver android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementReceiver"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementService"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:exported="false" android:name="com.google.android.gms.ads.AdActivity" android:theme="@android:style/Theme.Translucent"/>
        <provider android:authorities="com.philips.ka.oneka.app.lifecycle-process" android:exported="false" android:multiprocess="true" android:name="androidx.lifecycle.ProcessLifecycleOwnerInitializer"/>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver"/>
        <provider android:authorities="com.philips.ka.oneka.app.commlib.contextprovider" android:exported="false" android:name="com.philips.connectivity.condor.core.util.ContextProvider"/>
        <activity android:enabled="false" android:exported="false" android:launchMode="singleInstance" android:name="com.google.android.play.core.missingsplits.PlayCoreMissingSplitsActivity" android:process=":playcore_missing_splits_activity" android:stateNotNeeded="true"/>
        <activity android:enabled="false" android:exported="false" android:name="com.google.android.play.core.common.PlayCoreDialogWrapperActivity" android:stateNotNeeded="true" android:theme="@style/Theme.PlayCore.Transparent"/>
        <service android:enabled="false" android:exported="true" android:name="com.google.android.play.core.assetpacks.AssetPackExtractionService"/>
    </application>
</manifest>